

body {
    background-image: url(https://t4.ftcdn.net/jpg/04/27/55/21/360_F_427552198_ESF02GXcsiU8eGjOFIceE6OKs36AxDa1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 1000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.title {   
    font-size: 52px;
    color: #06851E;
}


.main__text {
    font-size: 35px;
    margin-top: 100px;
    color: #5B422A;
}


.decrease__btn {
    border: solid 6px #8EBFE1;
    border-radius: 90px;
    color: #EDFBFC;
    background-color: #4ACB46;
    font-size: 22px;
    margin-bottom: 5px;
    width: 200px;
    
}

.reach__prog {
    border: solid 6px #8EBFE1;
    border-radius: 90px;
    color: #EDFBFC;
    background-color: #4ACB46;
    font-size: 22px;
    width: 250px;

}


.sub__text {
    margin-top: 100px;
    margin-bottom: 155px;
    font-size: 33px;
    color: #E4A378;

}


